@font-face {
  font-family: 'iconfont';  /* project id 664833 */
  src: url('https://at.alicdn.com/t/font_664833_9qiusw4y75a02j4i.eot');
  src: url('https://at.alicdn.com/t/font_664833_9qiusw4y75a02j4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_664833_9qiusw4y75a02j4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_664833_9qiusw4y75a02j4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_664833_9qiusw4y75a02j4i.svg#iconfont') format('svg');
}
.icon{
	  font-family: 'iconfont';
}
.ddbf_top{
	width: 100%;
	height: 50px;
	background: #221815;
}
.ddbf_top_main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.ddbf_top_word{
	float: left;
	font-size: 14px;
	line-height: 50px;
	color: #fcfdfc;
}
.ddbf_top_right{
	float: right;
	font-family: "San Francisco";
}
.ddbf_nav{
	width: 100%;
	height: 88px;
	background:  #1180ca;
	position: relative;
}
.ddbf_nav:after{
	content: '';
    width: 18%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:  #fff;
}
.ddbf_nav_main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.ddbf_nav_left{
	float: left;
	width: 164px;
	height: 100%;
	background: #fff;
	position: relative;
}
.ddbf_nav_jt{
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
    border-left: 11px solid #fff;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: -11px;
    z-index: 10;
}
.ddbf_nav_left_box{
	width: 142px;
	height: 44px;
	background: #1180ca;
	position: absolute;
	top: 22px;
	left: 0;
	z-index: 10;
}
.ddbf_nav_right{
	float: left;
	width: 1036px;
	height: 100%;

}
.ddbf_nav_right1{
	width: 172.6px;
	height: 100%;
	float: left;
	background: #1180ca;
	text-align: center;
	line-height: 88px;
	font-size: 16px;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.ddbf_nav_underline1{
	width: 47px;
	height: 3px;
	border-radius: 3px;
	background: #fff;
	float: left;
}
.ddbf_nav_underline{
	position: absolute;
	left: 54px;
	bottom: 21px;
	display: none;
}
.ddbf_nav_underline2{
	float: left;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #fff;
	margin-left: 3px;
}
.ddbf_nav_underline11{
	width: 18px;
}
.ddbf_nav_underline0{
	left: 72px;
}
.ddbf_nav_right1:hover .ddbf_nav_underline{
	display: block;
}
.ddbf_nav_right1.active .ddbf_nav_underline{
	display: block;
}
.ddbf_nav_right1:hover{
	background: #02adf0;
}
.ddbf_nav_right1.active{
	background: #02adf0;
}
.ddbf_bread_nav{
	width: 1200px;
	height: 74px;
	margin: 35px auto 0;
	line-height: 74px;
	font-size: 18px;
	color: #333;
}
.now_p{
	float: left;
}
.ddbf_bread_jt{
	float: left;
	font-weight: bold;
	margin-left: 16px;
}
.ddbf_bread_word{
	float: left;
	margin-left: 16px;
}
.ddbf_bread_word:hover{
	font-weight: bold;
}
.ddbf_bread_word.active{
	font-weight: bold;
}
.ddbf_title{
	width: 100%;
	height: 84px;
}
.ddbf_title_main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.ddbf_title_main img{
	width: 100%;
	height: 100%;
}
.ddfp_content{
	width: 100%;
}
.ddfp_content_main{
	width: 1200px;
	height: auto;
	min-height: 300px;
	margin: 0 auto;
	padding-top: 18px;
}
.ddfp_content_title{
	width: 100%;
	height: 43px;
	background:#1180ca;
}
.ddfp_content_title_main{
	width: 1128px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.ddfp_content_title_main span{
	font-size: 18px;
	color: #fff;
	line-height: 43px;
	font-weight: bold;
	float: left;
}
.ddfp_title_line{
	float: left;
	width: 2px;
	height: 12px;
	background: #fff;
	margin-right: 3px;
	position: absolute;
	top: 17px;
	left: 84px;
}
.ddfp_title_line1{
	height: 18px;
	margin-right: 4px;
	top: 14px;
	left: 89px;
}
.ddfp_title_dotted{
	border-top: 1px dotted #fff;
	position: absolute;
	left: 95px;
	top: 22px;
	z-index: 2;
	width: 1032px;
}
.ddfp_content_main1{
	width:1126px;
	height: auto;
	min-height: 100px;
	padding: 17px 36px 0;
	border: 1px solid #999;
	border-top-width:0; 
	position: relative;
}
.ddfp_content_main1 ul li{
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #666;
	position: relative;
}
.ddfp_content_circle{
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #02adf0;
	position: absolute;
	top: 10px;
	left: 0;
}
.ddfp_content_main1 ul{
	width: 100%;
	padding-bottom: 37px;
	border-bottom: 1px solid #02adf0;
}
.ddfp_content_main1 ul li a{
	margin-left: 26px;
	line-height: 28px;
	color: #666; 
	font-weight: normal;
}
.ddbf_time{
	float: right;
	line-height: 28px;
	font-weight: lighter;
	font-size: 14px;
}
.time_icon{
	line-height: 28px;
	color: #67cef6;
	font-size: 16px;
	float: right;
	margin-right:14px; 
}
.ddfp_content_main1 .ddfp_content_main12{
	margin-top: 33px;
}
.ddfp_content_main1 .ddfp_content_main13{
	padding-bottom: 26px;
	border: none;
}
.ddfp_content_line{
	position: absolute;
	left: 66px;
	bottom: -6px;
	width: 1069px;
	height: 6px;
	background: #1180ca;
}
.ddfp_content_main02{
	margin-top: 49px;
	margin-bottom: 46px;
}
.ddfp_content_main1s{
	padding-top: 26px;
}
.select_lan{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	line-height: 18px;
	text-align: center;
	border: 2px solid #333;
	border-top-width:0; 
	border-bottom-width:0; 
	padding: 0 7px 0;
	margin-right: 42px;
}
#sel_lan{
	padding-right: 94px;
	width: 64px;
	border: none;
	border-bottom: 1px solid #c1c1c1;
	color: #666;
	font-size: 16px;
	appearance:none;
	-moz-appearance: none;  
	-webkit-appearance: none; 
	outline: none;
	background: url("../img/s1.png") no-repeat scroll right center transparent;
}
.select2{
	margin-top: 27px;
}
#question_desc{
	resize:none;
	vertical-align:top;
	width: 980px;
	height: 135px;
	background: rgba(193, 193, 193, 0.1);
	border: none;
	outline: none;
}
.textarea_limit{
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #999;
	padding-left: 140px;
}
.select3{
	margin-top: 17px;
	position: relative;
}
.add_enclosure{
	font-weight: bold;
	color: #666;
}
.added_enclosure{
	font-size: 14px;
	color: #999;
	margin-left: 45px;
}
.emial{
	width: 322px;
	height: 20px;
	border-bottom: 1px solid #c1c1c1;
	padding-left: 8px;
	position: absolute;
	top: 0px;
	left: 132px;
}
.phone{
	top: 36px;
}
.phone_input{
	width: 230px;
	height: 100%;
	border: none;
	outline: none;
	background: transparent;

}
.select4{
	height: 56px;
	margin-bottom: 34px;
}
#submit{
	width: 152px;
	height: 43px;
	background:#02adf0;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 43px;
	border: none;
	outline: none;
	color: #fff; 
	float: right;
	cursor: pointer;
}
.send{
	width: 100%;
	height: 43px;
	position: relative;
	margin-bottom: 50px;
}
.ddfp_content_main1 ul li a:hover{
	color: #02adf0;
}
#sel_lan{
	cursor: pointer;
}
.zzdt{
	width: 100%;
	height: 235px;
	background: url('../img/zddt_02.png') no-repeat;
	background-position: 0 0;
	position: relative;
}
.zzdt_word{
	width: 100%;
	height: 61px;
	position: absolute;
	top: 96px;
	left: 0;
}
.zzdt_word1{
	line-height: 20px;
	font-size: 12px;
	font-weight: lighter;
	color: #fff;
	text-align: center;
}
.zzdt_word1 a{
	line-height: 20px;
	font-size: 12px;
	font-weight: lighter;
	color: #fff;
}